
{% extends 'baseback.html.twig' %}

{% block title %}GESTION DES UTILISATEURS{% endblock %}
{% block body %}

    <h1>Liste des clients</h1> 
    <hr>

 <style>
    .my-form1 {
        display: flex;
        align-items: center;
    }

    .my-form1 .form-control {
        margin-right: 10px;
    }
</style>

{{ form_start(form, {'attr': {'class': 'my-form1', 'novalidate': 'novalidate'}}) }}

    {{ form_label(form.searchedby, null, {'label_attr': {'class': 'd-none'}}) }}
    {{ form_widget(form.searchedby, {'attr': {'class': 'form-control', 'placeholder': 'Search'}}) }}
    {{ form_widget(form.search, {'attr': {'class': 'btn btn-primary'}}) }}

{{ form_end(form) }}


    <table class="table">
        <thead>
            <tr>
            <th>actions</th>
                <th>Id</th>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Adresse mail</th>
                <th>Telephone</th>
                <th>Date de naissance</th>
                <th>Mot de passe</th>
                
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>
                <a href="{{path('app_show',{'id': user.id})}}" class="btn btn-outline-primary">Show</a>
               {# <a href="{{path('app_login',{'id': user.id})}}" class="btn btn-outline-primary">Edit</a> #}
                </td>
                <td>{{ user.id }}</td>
                <td>{{ user.nom }}</td>
                <td>{{ user.prenom }}</td>
                <td>{{ user.adresseMa }}</td>
                <td>{{ user.numTel }}</td>
                <td>{{ user.dateNaissance ? user.dateNaissance|date('Y-m-d') : '' }}</td>
                <td>{{ user.password }}</td>
               
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
   <div class="pagination">
  
 {{ knp_pagination_render(users) }}
  
</div>


    <style>
   .pagination {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.pagination ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0;
  margin: 0;
}



.pagination a.active {
  background-color: blue;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 8px 12px;
  box-shadow: 0 0 0 2px white, 0 0 0 4px blue;
  display: inline-block;
  text-align: center;
  line-height: 1;
}

.pagination a.active:before {
  content: "";
  display: block;
  height: 100%;
  margin-left: -8px;
  margin-top: -8px;
  position: absolute;
  width: 100%;
  z-index: -1;
  border-radius: 5px;
  box-shadow: 0 0 0 2px white, 0 0 0 4px blue;
}

.pagination ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
}

.pagination a {
  color: black;
  float: left;
  padding: 8px 12px;
  text-decoration: none;
  border-radius: 5px;
  background-color: white;
  margin: 0 5px;
  border: 1px solid #ddd;
  transition: background-color 0.3s ease-in-out;
}

.pagination a:hover:not(.active) {
  background-color: #ddd;
}



.pagination a:hover:not(.active) {
  background-color: #ddd;
}

    </style>

   {# <a href="{{ path('app_client_new') }}">Create new</a> #}
{% endblock %}
