{% extends 'base.html.twig' %}

{% block title %}Reservation{% endblock %}

{% block body %}
<h1 class="text-center mb-4">Réservations</h1>
<div class="table-responsive">
    <table class="table" id="myTable">
        <thead>
            <tr>
                <th>ID</th>
                <th>CIN</th>
                <th>Nom</th>
                <th>Prénom</th>
                <th>Ville</th>
                <th>Numéro de téléphone</th>
                <th>Adresse mail</th>
                <th>Date de livraison</th>
                <th>Type de produit</th>
                <th>Lieu de départ</th>
                <th>Lieu d'arrivée</th>
                <th>Poids</th>
                <th>Drone</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
          <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
                    <form
                        class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search" method="post" action="{{ path('app_reservation_recherche') }}">
                        <div class="input-group">
                            <input name="search" type="text" class="form-control bg-light border-0 small js-search-input" placeholder="Recherche selon le nom ou la ville ou le prenom..."
                                aria-label="Search" aria-describedby="basic-addon2">
                            {# <input value="Recherche" type="submit" class="form-control bg-light border-0 small"> #}
                            <div class="input-group-append">
                                <button class="btn btn-primary" type="submit">
                                    <i class="fas fa-search fa-sm"></i>
                                </button>
                            </div>
                        </div>

                    </form>
                    
                    </nav>
         {% for res in reservations %}
            <tr>
                <td>{{ res.id }}</td>
                <td>{{ res.cin }}</td>
                <td>{{ res.nom }}</td>
                <td>{{ res.prenom }}</td>
                <td>{{ res.ville }}</td>
                <td>{{ res.numTel }}</td>
                <td>{{ res.adresseM }}</td>
                <td>{{ res.dateLivraison ? res.dateLivraison|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ res.typeProduit }}</td>
                <td>{{ res.lieuDepart }}</td>
                <td>{{ res.lieuArrivee }}</td>
                <td>{{ res.poids }}</td>
                <td>{{ res.drone }}</td>
                <td>
                    <div class="d-flex flex-wrap">
                        <a href="{{ path('app_reservation_show', {'id': res.id}) }}" class="btn btn-sm btn-primary me-2 mb-2">Voir</a>
                        <a href="{{ path('app_reservation_edit', {'id': res.id}) }}" class="btn btn-sm btn-primary me-2 mb-2">Modifier</a>
                        <a href="{{ path('app_reservation_map', {'id': res.id}) }}" class="btn btn-sm btn-info me-2 mb-2">Localisation</a>
                        <a href="{{ path('app_reservation_generate_pdf') }}" class="btn btn-sm btn-success me-2 mb-2">Télécharger PDF</a>
                  


                    </div>
                </td>
            </tr>
            {% else %}
            <tr>
                <td colspan="14">Aucun enregistrement trouvé.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>



<style>
    body {
        font-family: Arial, sans-serif;
    }

    h1 {
        color: #007bff;
        text-align: center;
    }

    .table {
        margin-top: 2rem;
    }

    .btn {
        font-size: 0.8rem;
    }
</style>

{% endblock %}
