{% extends 'base.html.twig' %}

{% block title %}Reservation{% endblock %}

{% block body %}
    <h1>Reservation</h1>
    
    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ reservation.id }}</td>
            </tr>
            <tr>
                <th>Cin</th>
                <td>{{ reservation.cin }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ reservation.nom }}</td>
            </tr>
            <tr>
                <th>Prenom</th>
                <td>{{ reservation.prenom }}</td>
            </tr>
            <tr>
                <th>Ville</th>
                <td>{{ reservation.ville }}</td>
                
            </tr>
            <tr>
                <th>Num_tel</th>
                <td>{{ reservation.numTel }}</td>
                
            </tr>
            <tr>
                <th>Adresse_m</th>
                <td>{{ reservation.adresseM }}</td>
            </tr>
            <tr>
                <th>Date_livraison</th>
                <td>{{ reservation.dateLivraison ? reservation.dateLivraison|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Type_produit</th>
                <td>{{ reservation.typeProduit }}</td>
            </tr>
            <tr>
                <th>Lieu_depart</th>
                <td>{{ reservation.lieuDepart }}</td>
            </tr>
            <tr>
                <th>Lieu_arrivee</th>
                <td>{{ reservation.lieuArrivee }}</td>
            </tr>
            <tr>
                <th>Poids</th>
                <td>{{ reservation.poids }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_reservation_index') }} "class="btn btn-primary">back to list</a>

    <a href="{{ path('app_reservation_edit', {'id': reservation.id}) }}"class="btn btn-primary">edit</a>
    

    {{ include('reservation/_delete_form.html.twig') }}
{% endblock %}
