<style>
    /* Style the form container */
    .form-container {
        max-width: 600px;
        margin: 0 auto;
        background-color: #fff;
        padding: 20px;
        border: 1px solid #ccc;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    }

    /* Style the form title */
    .form-title {
        font-size: 24px;
        font-weight: bold;
        margin-bottom: 20px;
    }
.error-red + .form-error-message {
  color: red;
}
    /* Style the form fields */
    .form-field {
        margin-bottom: 20px;
    }

    /* Style the form labels */
    .form-label {
        display: block;
        font-size: 16px;
        font-weight: bold;
        margin-bottom: 5px;
    }

    /* Style the form input fields */
    .form-input {
        display: block;
        width: 100%;
        padding: 10px;
        font-size: 16px;
        border: 1px solid #ccc;
        border-radius: 5px;
        box-sizing: border-box;
        margin-bottom: 10px;
    }

    /* Style the form submit button */
    .form-submit {
        display: block;
        width: 195%;
        padding: 10px;
        font-size: 16px;
        background-color: #007bff;
        color: #fff;
        border: none;
        border-radius: 15px;
        cursor: pointer;
        flex-basis: 100%;
    }

    /* Style the form submit button on hover */
    .form-submit:hover {
        background-color: #0069d9;
    }
    .form-row {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 10px;
    }

    .form-column {
        flex-basis: 50%;
        padding-right: 10px;
    }
   
    /* Add margin between adresse_ma and num_tel */
    .form-column .form-input:last-child {
        margin-bottom: 20px;
        margin-right: 20px;
    }
 
</style>

{{ form_start(form) }}
    <div class="form-row">
        <div class="form-column">
            {{ form_row(form.adresseM, { 'attr': {'class': 'form-input'} }) }}
            {{ form_row(form.date, {'attr': {'class': 'form-input'}}) }}
        </div>
        <div class="form-column">
            {{ form_row(form.cvc, {'attr': {'class': 'form-input'}}) }}
        </div>
    </div>
    <div class="form-row">
        <div class="form-column">
            <button class="form-submit">{{ button_label|default('Save') }}</button>
        </div>
    </div>
{{ form_end(form) }}
