{% extends 'base.html.twig' %}

{% block title %}paiement index{% endblock %}

{% block body %}

    <h1>paiement</h1>
    
<div id="paiement-container">
    <table class="table"id='myTable'>
        <thead>

            <tr>
                <th>Id</th>
                <th>Adresse Mail </th>
                <th>Date</th>
                <th>CVC</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        <input type="search" id="myInput" class="form-control pl-6" placeholder="Search "/><script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script><script>$(document).ready(function () {$("#myInput").on("keyup", function () {var value = $(this).val().toLowerCase();$("#myTable tr ").filter(function () {$(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)});})});</script>
        {% for paiement in paiements %}
            <tr>
                <td>{{ paiement.id }}</td>
                <td>{{ paiement.adresseM }}</td>
                <td>{{ paiement.date ? paiement.date|date('Y-m-d') : '' }}</td>
                <td>{{ paiement.CVC }}</td>
                <td>
                    <a href="{{ path('app_paiement_show', {'id': paiement.id}) }}" class="btn btn-outline-primary">show</a>
                    <a href="{{ path('app_paiement_edit', {'id': paiement.id}) }}" class="btn btn-outline-primary">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% endblock %}
