<!doctype html>
<html class="no-js" lang="zxx">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Trust Dronify</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="manifest" href="site.webmanifest">
    <link rel="shortcut icon" type="image/x-icon" href="/assets2/img/favicon.ico">

    <!-- CSS here -->
    <link rel="stylesheet" href="/assets2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets2/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/assets2/css/slicknav.css">
    <link rel="stylesheet" href="/assets2/css/flaticon.css">
    <link rel="stylesheet" href="/assets2/css/progressbar_barfiller.css">
    <link rel="stylesheet" href="/assets2/css/gijgo.css">
    <link rel="stylesheet" href="/assets2/css/animate.min.css">
    <link rel="stylesheet" href="/assets2/css/animated-headline.css">
    <link rel="stylesheet" href="/assets2/css/magnific-popup.css">
    <link rel="stylesheet" href="/assets2/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="/assets2/css/themify-icons.css">
    <link rel="stylesheet" href="/assets2/css/slick.css">
    <link rel="stylesheet" href="/assets2/css/nice-select.css">
    <link rel="stylesheet" href="/assets2/css/style.css">
</head>

<body>
    <!-- ? Preloader Start -->
    <div id="preloader-active">
        <div class="preloader d-flex align-items-center justify-content-center">
            <div class="preloader-inner position-relative">
                <div class="preloader-circle"></div>
                <div class="preloader-img pere-text">
                    <img src="/assets2/img/logo/loder.png" alt="">
                </div>
            </div>
        </div>
    </div>
    <!-- Preloader Start -->
    <header>
        <!-- Header Start -->
        <div class="header-area header-transparent">
            <div class="main-header ">
                <div class="header-bottom  header-sticky">
                    <div class="container-fluid">
                        <div class="row align-items-center">
                            <!-- Logo -->
                            <div class="col-xl-2 col-lg-2">
                                <div class="logo">
                                   
                                    <a href="index.html"><img src="{{asset('/assets2/img/Dronify1 V white.png')}}"  alt="..." width="200" height="70"></a>
                                </div>
                            </div>
                            <div class="col-xl-10 col-lg-10">
                                <div class="menu-wrapper  d-flex align-items-center justify-content-end">
                                    <!-- Main-menu -->
                                    <div class="main-menu d-none d-lg-block">
                                        <nav>
                                            <ul id="navigation">
                                            {% set user = app.user %}
                                                <li><a href="index.html">Home</a></li>
                                                <li><a href="about.html">About</a></li>
                                                <li><a href="#">Services</a>
                                                <ul class="submenu">
                                                        <li><a href="{{ path('app_edit', { 'id': user.id }) }}">Profil</a></li>

                                                        <li><a href="blog_details.html">Reservation</a></li>
                                                        <li><a href="elements.html">Reclamation</a></li>
                                                    </ul>
                                                <li><a href="projects.html">Projects</a></li>
                                                <li><a href="#">Blog</a>
                                                    <ul class="submenu">
                                                        <li><a href="blog.html">Blog</a></li>
                                                        <li><a href="blog_details.html">Blog Details</a></li>
                                                        <li><a href="elements.html">Element</a></li>
                                                    </ul>
                                                </li>
                                                <li><a href="contact.html">Contact</a></li>
                                                
                                                <!-- Header btn -->
                                                <li>
                                                    <div class="header-right-btn ml-40">
             {% if app.user %}
    <div class="mb-3">
        <a href="{{ path('app_logout') }}" class="btn"><img src="/assets2/img/icon/smartphone.svg" alt="">Logout</a>
    </div>
{% else %}
    <a href="{{ path('app_login') }}" class="btn"><img src="/assets2/img/icon/smartphone.svg" alt="">Login</a>
{% endif %}
                                                    </div>
                                                </li>
                                            </ul>
                                        </nav>
                                    </div>
                                </div>
                            </div> 
                            <!-- Mobile Menu -->
                            <div class="col-12">
                                <div class="mobile_menu d-block d-lg-none"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Header End -->
    </header>
    <main>
        <!--? slider Area Start-->
        <section class="slider-area ">
            <div class="slider-active">
                <!-- Single Slider -->
                <div class="single-slider slider-bg1 hero-overly slider-height d-flex align-items-center">
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-xl-8 col-lg-9 col-md-12">
                                <div class="hero__caption text-center">
                                    {% if app.user %}
                                    <h1>Welcome, {{ app.user.getPrenom }}<br> {{ app.user.getNom }}</h1>
                                  {% endif %}
                                    
                                    <a href="#" class="hero-btn" data-animation="fadeInUp" data-delay="0.7s">Explore services</a>
                                </div>
                            </div>
                        </div>
                    </div>          
                </div>
                <!-- Single Slider -->
                <div class="single-slider slider-bg1 hero-overly slider-height d-flex align-items-center">
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-xl-8 col-lg-9 col-md-12">
                                <div class="hero__caption text-center">
                                                                                
       
     {% if app.user %}
                                    <h1>Welcome, {{ app.user.getNom }}<br> {{ app.user.getNom }}</h1>
                                  {% endif %}
                                    
                                </div>
                            </div>
                        </div>
                    </div>          
                </div>
            </div>
        </section>
        <!-- slider Area End-->
       
       
<!-- Services End -->

<div class="contact-form">
    <div class="container">
        <div class="row">
            <div class="col-lg-5">
                <div class="form-wrapper">
                    <div class="row ">
                        <div class="col-xl-12 col-lg-11 col-md-8 col-lg-7 col-sm-9">
                            <div class="section-tittle mb-30">
                                <h2>Get a Quote</h2>
                                <p>Inasfa reprehenderit in voluptate velit esse cillum reeut cupidatatfug nulla pariatur.</p>
                            </div>
                        </div>
                    </div>
                   
                </div>
            </div>
        </div>
    </div>
    <div class="contact-img">
        <img src="/assets2/img/gallery/contact-img.png" alt="">
    </div>
</div>
</main>
<footer>
    <div class="footer-wrapper section-bg2"  data-background="/assets2/img/gallery/footer-bg.png">
        <!-- Footer Start-->
        <div class="footer-area footer-padding">
            <div class="container">
                <div class="row justify-content-between">
                    <div class="col-xl-4 col-lg-4 col-md-5 col-sm-7">
                        <div class="single-footer-caption mb-50">
                            <div class="single-footer-caption mb-30">
                                <!-- logo -->
                                <div class="footer-logo mb-35">
                                    <a href="index.html"><img src="/assets2/img/logo/logo2_footer.png" alt=""></a>
                                </div>
                                <div class="footer-tittle">
                                    <div class="footer-pera">
                                        <p>Duis aute irure dolor inasfa reprehenderit in voluptate velit esse cillum reeut cupidatatfug.</p>
                                    </div>
                                    <ul class="mb-40">
                                        <li class="number"><a href="#">(80) 783 367-3904</a></li>
                                        <li class="number2"><a href="#">contact@carwash.com</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="offset-xl-1 col-xl-2 col-lg-2 col-md-4 col-sm-6">
                        <div class="single-footer-caption mb-50">
                            <div class="footer-tittle">
                                <h4>Navigation</h4>
                                <ul>
                                    <li><a href="#">Home</a></li>
                                    <li><a href="#">About</a></li>
                                    <li><a href="#">Services</a></li>
                                    <li><a href="#">Blog</a></li>
                                    <li><a href="#">Contact</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-2 col-lg-2 col-md-4 col-sm-6">
                        <div class="single-footer-caption mb-50">
                            <div class="footer-tittle">
                                <h4>Services</h4>
                                <ul>
                                    <li><a href="#">Drone Mapping</a></li>
                                    <li><a href="#"> Real State</a></li>
                                    <li><a href="#">Commercial</a></li>
                                    <li><a href="#">Construction</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6">
                        <div class="single-footer-caption mb-50">
                            <!-- social -->
                            <div class="footer-social">
                                <a href="#"><i class="fab fa-twitter"></i></a>
                                <a href="https://bit.ly/sai4ull"><i class="fab fa-facebook-f"></i></a>
                                <a href="#"><i class="fab fa-pinterest-p"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- footer-bottom area -->
        <div class="footer-bottom-area">
            <div class="container">
                <div class="footer-border">
                    <div class="row">
                        <div class="col-xl-12 ">
                            <div class="footer-copy-right text-center">
                                <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                                  Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                                  <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <!-- Footer End-->
      </div>
  </footer>
  <!-- Scroll Up -->
  <div id="back-top" >
    <a title="Go to Top" href="#"> <i class="fas fa-level-up-alt"></i></a>
</div>

<!-- JS here -->

<script src="/assets2/js/vendor/modernizr-3.5.0.min.js"></script>
<!-- Jquery, Popper, Bootstrap -->
<script src="/assets2/js/vendor/jquery-1.12.4.min.js"></script>
<script src="/assets2/js/popper.min.js"></script>
<script src="/assets2/js/bootstrap.min.js"></script>
<!-- Jquery Mobile Menu -->
<script src="/assets2/js/jquery.slicknav.min.js"></script>

<!-- Jquery Slick , Owl-Carousel Plugins -->
<script src="/assets2/js/owl.carousel.min.js"></script>
<script src="/assets2/js/slick.min.js"></script>
<!-- One Page, Animated-HeadLin -->
<script src="/assets2/js/wow.min.js"></script>
<script src="/assets2/js/animated.headline.js"></script>
<script src="/assets2/js/jquery.magnific-popup.js"></script>

<!-- Date Picker -->
<script src="/assets2/js/gijgo.min.js"></script>
<!-- Nice-select, sticky -->
<script src="/assets2/js/jquery.nice-select.min.js"></script>
<script src="/assets2/js/jquery.sticky.js"></script>
<!-- Progress -->
<script src="/assets2/js/jquery.barfiller.js"></script>

<!-- counter , waypoint,Hover Direction -->
<script src="/assets2/js/jquery.counterup.min.js"></script>
<script src="/assets2/js/waypoints.min.js"></script>
<script src="/assets2/js/jquery.countdown.min.js"></script>
<script src="/assets2/js/hover-direction-snake.min.js"></script>

<!-- contact js -->
<script src="/assets2/js/contact.js"></script>
<script src="/assets2/js/jquery.form.js"></script>
<script src="/assets2/js/jquery.validate.min.js"></script>
<script src="/assets2/js/mail-script.js"></script>
<script src="/assets2/js/jquery.ajaxchimp.min.js"></script>

<!-- Jquery Plugins, main Jquery -->	
<script src="/assets2/js/plugins.js"></script>
<script src="/assets2/js/main.js"></script>

</body>
</html>