{% extends 'Template.html.twig' %}




{% block body %}
<style>
 #offre_dateDebut_month{
    border: 1px solid #d1d3e2;
    width: 100px;
    border-radius: 5px;
 }
 #offre_dateDebut_day{
    border: 1px solid #d1d3e2;
    width: 100px;
    border-radius: 5px;
 }
 #offre_dateDebut_year{
    border: 1px solid #d1d3e2;
    width: 100px;
    border-radius: 5px;
 }
 #offre_dateDebut{
    border : transparent;
 }
  #offre_dateFin_month{
    border: 1px solid #d1d3e2;
    width: 100px;
    border-radius: 5px;
 }
 #offre_dateFin_day{
    border: 1px solid #d1d3e2;
    width: 100px;
    border-radius: 5px;
 }
 #offre_dateFin_year{
    border: 1px solid #d1d3e2;
    width: 100px;
    border-radius: 5px;
 }
 #offre_dateFin{
    border : transparent;
 }

</style>
    <div class="container">

        <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="card-body p-0">
                <!-- Nested Row within Card Body -->
                <div class="row">
                    <div class="col-lg-12">
                        <div class="p-5">
                            <div class="text-center">
                                <h1 class="h4 text-gray-900 mb-4">Ajouter une Offre</h1>
                            </div>
                            {{form_start(form,{'attr':{'novalidate':'novalidate' , 'class' : 'user' }})}}

                            <div class="form-group row">
                                <div class="col-sm-6 mb-3 mb-sm-0">
                                    <div style="margin-top: 6px;">
                                    {{ form_label(form.dateDebut,"Date Début") }}
                                    </div>
                                    {% if form_errors(form.dateDebut) is not empty %}
                                        <div class="alert alert-danger" >
                                            {{ form_errors(form.dateDebut) }}
                                        </div>
                                    {% endif %}
                                
                                    {{ form_widget(form.dateDebut,{ 'attr': {'class' : 'form-control','id' : 'datetimepicker10','data-provide' : 'datetimepicker','html5' : false } }) }}
                                
                                      </div>  
                                <div class="col-sm-6">
                                <div style="margin-top: 6px; ">
                                    {{ form_label(form.dateFin,"Date Fin") }}
                                    </div>
                                    {% if form_errors(form.dateFin) is not empty %}
                                        <div class="alert alert-danger" >
                                            {{ form_errors(form.dateFin) }}
                                        </div>
                                    {% endif %}
                                    {{ form_widget(form.dateFin,{ 'attr': {'class': 'form-control' ,'data-provide' : 'datetimepicker','html5' : false} }) }}
                                </div>
                                
                                  <div style="margin-top: 6px;">
                                    {{ form_label(form.remise,"Remise") }}
                                    </div>
                                    {% if form_errors(form.remise) is not empty %}
                                        <div class="alert alert-danger" >
                                            {{ form_errors(form.remise) }}
                                        </div>
                                    {% endif %}
                                    {{ form_widget(form.remise,{ 'attr': {'class': 'form-control form-control-user' , 'placeholder' : 'Remise'} }) }}
                      
                                <div style="margin-top: 6px;">
                                    {{ form_label(form.sponsor,"Nom du Sponsor") }}
                                </div>
                                {{ form_widget(form.sponsor,{ 'attr': {'class': 'form-control'} }) }}
                                {% if form_errors(form.sponsor) is not empty %}
                                    <div class="alert alert-danger" >
                                        {{ form_errors(form.sponsor) }}
                                    </div>
                                {% endif %}
                            
            
                            </div>



                            <button class="btn btn-primary btn-user btn-block">{{ button_label|default('Add') }}</button>

                            {# <a href="login.html" class="btn btn-primary btn-user btn-block">
                                    Register Account
                                </a> #}
                            <hr>

                            {{ form_end(form) }}
                            <hr>
                            <div  class="text-center">
                                <a href="{{ path('app_offre_index') }}">back to list</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

{% endblock %}