{% extends 'base.html.twig' %}

{% block title %}Facture index{% endblock %}

{% block body %}

    <h1>Facture</h1>
    
<div id="facture-container">
    <table class="table"id='myTable'>
        <thead>

            <tr>
                <th>Id</th>
                <th>Cin</th>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Ville</th>
                <th>Date</th>
                <th>Prix</th>
                <th>Status</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        <input type="search" id="myInput" class="form-control pl-6" placeholder="Search "/><script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script><script>$(document).ready(function () {$("#myInput").on("keyup", function () {var value = $(this).val().toLowerCase();$("#myTable tr ").filter(function () {$(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)});})});</script>
        {% for facture in factures %}
            <tr>
                <td>{{ facture.id }}</td>
                <td>{{ facture.cin }}</td>
                <td>{{ facture.nom }}</td>
                <td>{{ facture.prenom }}</td>
                <td>{{ facture.ville }}</td>
                <td>{{ facture.date ? facture.date|date('Y-m-d') : '' }}</td>
                <td>{{ facture.prix }}</td>
                <td>{{ facture.status }}</td>
                <td>
                    <a href="{{ path('app_facture_show', {'id': facture.id}) }}" class="btn btn-outline-primary">show</a>
                    <a href="{{ path('app_facture_edit', {'id': facture.id}) }}" class="btn btn-outline-primary">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <style>
    .btn-primary + .btn-primary {
      margin-bottom: 10px;
    }
  </style>
    <a href="{{ path('app_facture_new') }}" class="btn btn-primary">Create new</a>
    <button type="submit" class="btn btn-primary ">Trier par prix</button>
    <script>
        $(document).ready(function() {
            $('#sort-button').on('click', function() {
                $.ajax({
                    url: '{{ path('app_facture_sort') }}',
                    type: 'GET',
                    dataType: 'json',
                    success: function(response) {
                        $('#facture-container').html(response.html);
                    },
                    error: function(xhr, status, error) {
                        console.log(error);
                    }
                });
            });
        });
    </script>
    <div class="d-flex justify-content-between ">
    <form action="{{ path('calculer_total') }}" method="post">
        <button type="submit" class="btn btn-primary">Calculer le total des revenus</button>
        <div class="form-group">
            <label for="total">Total:</label>
                <input type="text" class="form-contr
                ol" id="total" name="total" value="{{ total ?? '' }}" readonly>

        </div>
    </form>
    </div>
</div>
 <a href="{{ path('generator_service') }}" class="btn btn-primary px-3 py-1">Export PDF</a>
{% endblock %}
